@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Lato', sans-serif;

}

body {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.mainFlex {
    display: flex;
}

.marginLeft {
    margin-left: 8px;
}

/* Nav */
.navFlex {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(251, 97, 0);
    padding: 16px;
}

.menuLeftFlex {
    display: flex;
    align-items: center;
}

.menuLeftFlex img {
    width: 12%;
    padding-right: 12px;
    cursor: pointer;
}

.arrowImage {
    width: 20px;
    padding-right: 12px;
    cursor: pointer;
}

.menuRightFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuRightFlex img {
    padding: 0 12px;
}

.menuImage {
    width: 20px;
    cursor: pointer;
}

#arrowImageNormal {
    width: 20px;
}

.flagImage {
    width: 100%;
    cursor: pointer;
    border-radius: 100%;
}

.flagImageBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 15%;
    padding: 3px;
    border-radius: 100%;
}

.textFormLeft {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 8px;
}

.textFormMiddle {
    color: white;
    font-size: 24px;
    border-bottom: 2px solid white;
    text-decoration: none;
}



/* Body Image */
.pizzaImageBasketFlex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyImageSize img {
    width: 80vw;
    height: 30vh;
    object-fit: cover;
}

.logoForm {
    height: 100px;
    width: 100px;
}

.logoFlex {
    position: absolute;
    display: flex;
    top: 80%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 65px;
    background-color: white;
}

.absolutFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Basket */
.basketFlex {
    position: fixed;
    right: 0;
    width: 400px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    background-color: white;
}

#basket {
    max-height: calc(100vh - 66px - 43px - 146px - 49px);
    overflow-y: scroll;
}

.basketFlex h1 {
    text-align: center;
    font-size: 22px;
    box-shadow: 0px 1px lightgray;
    padding-bottom: 16px;
}

.basketSecondStage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}

.underText {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

/* headline des Bodys */
.headlineBodyFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 40px;
}

.infoHeadline {
    display: flex;
    align-items: center;
}

.infoHeadline img {
    width: 25px;
    padding-right: 8px;
}

.carImage {
    width: 25px;
}

.imageFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fontHeadline {
    padding: 16px 0;
}

.fontHeadlineForm {
    font-size: 24px;
    font-weight: bold;
}

.valuationHealine {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.valuationHealine a {
    text-decoration: none;
    color: rgb(251, 97, 0);
    font-weight: bold;
}

.valuationHealine img {
    width: 5%;
    padding-right: 4px;
}

.valuationFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageBorder {
    width: 10%;
    padding: 16px;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.imageBorder:hover {
    border: 1px solid blue;
    transition: all 225ms ease-in-out;
}

.imageBorder img {
    padding: -25px;
}

.imageBorderFlex {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/* Menulist */

.bg {
    background-color: rgb(248, 245, 242);
}

.bgCategory {
    background-color: rgb(248, 245, 242);
    margin: 0 150px;
    padding: 14px 14px;
    margin-bottom: 16px;
}

.bgCategory span {
    font-size: 20px;
    font-weight: bold;
}

.menuListFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 150px;
    margin-bottom: 16px;
}

.menuListFlex img {
    width: 25px;
    padding-right: 8px;
}

/* Scroll -140px Topside from Element Pizza, Snacks, Extras, Getränke */

:target {
    display: block;
    position: relative;
    top: -90px;
}

.menuListFlex a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 225ms ease-in-out;
}

.menuListFlex a:hover {
    background-color: rgb(251, 97, 0);
    color: white;
    border-radius: 5px;
    transition: all 225ms ease-in-out;
}


/* Dynamic Design */

.footContainer {
    border: 1px solid lightgrey;
    padding-left: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

#pizzaContent,
#snacksContent,
#extraContent,
#getraenkeContent,
#dynamicContent {
    padding: 0 150px;
}

.footContainer:hover {
    border: 1px solid blue;
    transition: all 225ms ease-in-out;
}


.footContainer h1 {
    font-size: 22px;
    font-weight: bold;
}

.footContainer span {
    font-size: 16px;
    font-style: italic;
}

.footContainer h2 {
    font-size: 20px;
    color: rgb(251, 97, 0);
}

.footContainer p {
    font-size: 16px;
    font-style: italic;
}

.addImage {
    position: absolute;
    right: 0;
    padding: 0 150px;
}

.addImage img {
    width: 20px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 8px;
}

.leftBody {
    position: relative;
    width: calc(100% - 400px);
}


/* Basket Design */
.showBasketMenuFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}

.showBasketAddDeleteImgFlex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.showBasketAddDeleteImgFlex img {
    width: 6%;
    padding: 8px;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin-right: 12px;
}

.showBasketAddTextFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputFieldDesign {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    width: 100%;
    outline: none;
    border: none;
    padding: 16px 0px;
    margin: 0 32px;
    border-bottom: 1px solid lightgray;
}

.inputBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}

.inputBtnDesign {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 0 16px;
    color: rgb(18, 98, 208);
    font-weight: bold;
    transition: all 225ms ease-in-out;
}

.inputBtnDesign:hover {
    border-bottom: 1px solid rgb(18, 98, 208);
    transition: all 225ms ease-in-out;
}

.showBasketAddTextFlex span {
    font-size: 13px;
    margin-left: 32px;
    border-bottom: 1px solid rgb(18, 98, 208);
    color: rgb(18, 98, 208);
    cursor: pointer;
}

.showBasketBorderEndline {
    border-top: 1px solid lightgrey;
    margin: 16px 0;
}

.showBasketBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 236, 179);
    padding: 16px 16px;
    font-size: 14px;
    margin: 0 16px;
}

.showRemarkOnFlex {
    display: flex;
    justify-content: flex-start;
    margin-left: 32px;
    word-wrap: break-word;
}

.showBasketBoxChild {
    font-size: 14px;
    padding: 16px 16px;
}

.totalPriceFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px;
    font-size: 14px;
}

.totalPriceFieldGrey {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 16px 16px;
    font-size: 14px;
    margin: 0 16px;
    font-weight: bold;
    transition: all 225ms ease-in-out;
}

.totalPriceFieldBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 98, 208);
    padding: 16px 16px;
    font-size: 14px;
    margin: 0 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all 225ms ease-in-out;
}


.dNone {
    display: none;
    transition: all 225ms ease-in-out;
}

.overflowX {
    overflow-x: hidden;
}


.basketFlexResponsive {
    top: calc(0% + 66px) !important;
    bottom: 0% !important;
    transition: all 225ms ease-in-out;
    background-color: white !important;
    color: black !important;
    transform: translateY(0px) !important;

}

.scrollineResponsive {
    transform: translateX(-1000px) !important;
    transition: all 225ms ease-in-out;
}

#basketXmark {
    position: absolute;
    right: 5%;
    top: 2%;
    width: 5%;
}

.clickBasket {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(18, 98, 208);

}

.clickBasket h1 {
    font-size: 20px;
    font-weight: bold;
}

.counterDesign {
    margin-left: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    color: black;
    background-color: lightgray;
}

/* Responsive Handy*/
@media (min-width: 375px) and (max-height: 667px) {
    .bg {
        width: 100%;

    }
}

@media (min-width: 0px) and (max-width: 345px) {

    .textFormMiddle {
        font-size: 20px;
    }

    .headlineBodyFlex {
        margin-top: 50px !important;
    }

    .headlineBodyFlex {
        flex-direction: column;
        padding: 0 150px;
    }

    .imageBorderFlex {
        justify-content: center;
        margin-bottom: 16px;
    }

    .menuListFlex a {
        font-size: 14px;
    }

    .menuListFlex {
        justify-content: flex-start !important;
        overflow-x: scroll !important;
    }

    .footContainer h1 {
        font-size: 16px;
    }

}

@media (min-width: 320px) and (max-width: 320px) {
    .bodyImageSize img {
        height: 40vh !important;
    }
}

@media (min-height: 360px) and (max-height: 360px) {
    .bodyImageSize img {
        height: 40vh !important;
    }
}

@media (min-width: 540px) and (max-height: 720px) {
    .navFlex {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 768px) {

    .basketFlex {
        transform: translateX(1000px);
    }

    .logoFlex {
        top: 89%;
    }
}

@media (max-width: 1023px) {

    :target {
        display: block;
        position: relative;
        top: -140px;
    }

    #arrowImageNormal {
        display: none;
    }

    .leftBody {
        width: 100vw;
        margin-bottom: 60px;
    }

    .arrowImage {
        width: 20px;
        padding-right: 12px;
        cursor: pointer;
    }

    .menuLeftFlex img {
        width: 20px;
        padding-right: 12px;
        cursor: pointer;
    }

    .menuLeftFlex {
        justify-content: center;
    }

    .flagImageBorder {
        width: 20px;
    }

    .basketFlex {
        color: white;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        transform: translateY(2500px);
    }

    .navFlex {
        position: fixed;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(251, 97, 0);
        padding: 16px;
        height: 35px;
    }

    .bgCategory {
        margin: 0 16px;
    }

    #pizzaContent,
    #snacksContent,
    #extraContent,
    #getraenkeContent,
    #dynamicContent {
        margin: 16px 16px;
        padding: 0 0;

    }

    .menuListFlex {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        margin-bottom: 0;
    }

    .bg {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: calc(0% + 67px);
        background-color: rgb(248, 245, 242);
        transform: translate(0);
        transition: all 225ms ease-in-out;
    }

    .menuListFlex img {
        width: 20px;
        padding-right: 8px;
    }

    .headlineBodyFlex {
        padding: 0 16px;
        margin-top: 40px;
    }

    .bodyImageSize img {
        width: 100vw !important;
        height: 30vh;
        object-fit: cover;
    }

    #businessName {
        display: none;
    }

    .logoForm {
        height: 80px;
        width: 80px;
    }

    .infoHeadline span {
        font-size: 12px;
    }

    .logoFlex {
        position: absolute;
        display: flex;
        right: unset;
        top: 80%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 65px;
        background-color: white;
    }

    .addImage {
        position: absolute;
        right: 0;
        padding: 0px 17px;
    }
}

@media (min-width: 1024px) {

    #menuResponsive,
    #basketXmark,
    #arrowImageResponsive,
    .clickBasket {
        display: none;
    }

    .basketFlex {
        transform: translateX(0);
        width: 400px;
        background-color: white;
        margin-top: 63px;
    }

    .headlineBodyFlex {
        padding: 0px 90px;
        flex-direction: unset;
    }

    .bgCategory {
        background-color: rgb(248, 245, 242);
        margin: 0 90px;
        padding: 14px 14px;
        margin-bottom: 16px;
    }

    #pizzaContent,
    #snacksContent,
    #extraContent,
    #getraenkeContent,
    #dynamicContent {
        padding: 0 90px;
    }

    .addImage {
        position: absolute;
        right: 0;
        padding: 0px 90px;
    }

    .imageBorderFlex {
        justify-content: flex-end !important;
    }

    .logoFlex {
        top: 80%;
    }

    .bg {
        width: 100%;
        background-color: rgb(248, 245, 242);
        transform: translate(0) !important;
        transition: all 225ms ease-in-out;
    }

    .menuListFlex {
        padding: 8px 90px;
    }

    .menuRightFlex {
        justify-content: flex-end;
    }
}